---
export const prerender = true;

import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Base title="Page not found">
  <slot name="nav" slot="nav">
    <Nav />
  </slot>
  <h1>Page not found</h1>
  <p>The page you're looking for doesn't exist.</p>
  <a href="/">Return home</a>
  <slot name="footer" slot="footer">
    <Footer />
  </slot>
</Base>
