---
---

<nav class="flex gap-6 p-4">
  <a href="/about/" class="hover:underline">About</a>
  <a href="/projects/" class="hover:underline">Projects</a>
  <a href="/skills/" class="hover:underline">Skills</a>
  <a href="/contact/" class="hover:underline">Contact</a>
</nav>
